<!--Main Footer-->
    <footer class="footer-style-two">
		{% comment %} <div class="outer-container">

        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">

					<!--Footer Column-->
					<div class="footer-column col-lg-6 col-md-6 col-sm-12">
						<!-- Contact Widget -->
						<div class="footer-widget info-widget">
							<h4>наши <span class="theme_color">услуги</span></h4>
							<ul class="info-list">
								<li><span class="icon flaticon-placeholder"></span>scrapy + splash + lxml</li>
								<li><span class="icon flaticon-phone-call"></span>django, scrapy, selenium</li>
							</ul>
						</div>
					</div>

					<!--Footer Column-->
					<div class="footer-column col-lg-6 col-md-6 col-sm-12">
						<!-- Social Widget -->
						<div class="footer-widget links-widget">
							<div class="footer-title  clearfix">
								<h4>полезные<span class="theme_color"> ссылки</span></h4>
								<div class="separator"></div>
							</div>
							<ul class="footer-list examples-job">
								<li><a href="#">Товары с магазина Мой малыш json</a></li>
								<li><a href="#">Товары с магазина Мой малыш csv</a></li>
								<li><a href="#">Статьи с сайта "Name Site" csv</a></li>
								<li><a href="#">Статьи с сайта "Name Site" json</a></li>
								<li><a href="#">Статьи с сайта "Name Site" json-lines (jl)</a></li>
							</ul>
						</div> 
					</div>
					<!--Footer Column-->
				</div>
			</div>

		</div> {% endcomment %}

		<!--Footer Bottom-->
        <div class="footer-bottom">
        	<div class="auto-container">
				<div class="copyright">&copy; 2020<script>new Date().getFullYear()>2020&&document.write("-"+new Date().getFullYear());</script> <a href="/">U3nidata</a></div>
				{% comment %} Copyright &copy; 2010<script>new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());</script>, Company Name. All rights reserved. {% endcomment %}
            </div>
        </div>

	</footer>