<!--Main Footer-->
    <footer class="footer-style-two">
		<div class="outer-container">

        	<!--Widgets Section-->
            <div class="widgets-section">
            	<div class="row clearfix">

					<!--Footer Column-->
					<div class="footer-column col-lg-4 col-md-6 col-sm-12">
						<!-- Contact Widget -->
						<div class="footer-widget info-widget">
							<h4>наши <span class="theme_color">услуги</span></h4>
							<ul class="info-list">
								<li><span class="icon flaticon-placeholder"></span>scrapy + splash</li>
								<li><span class="icon flaticon-phone-call"></span>django, scrapy, selenium</li>
								<li><span class="icon flaticon-email"></span>info@Dream Property.com</li>
							</ul>
						</div>
					</div>

					<!--Footer Column-->
					<div class="footer-column col-lg-4 col-md-6 col-sm-12">
						<!-- Social Widget -->
						<div class="footer-widget social-widget">
							<h4>follow <span class="theme_color">us</span></h4>
							<div class="text">Fightin' the system like a true modern day and the <br> last Robin Hood Space. </div>
							<ul class="social-icon-one">
								<li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
								<li><a href="#"><span class="fab fa-google"></span></a></li>
								<li><a href="#"><span class="fab fa-twitter"></span></a></li>
								<li><a href="#"><span class="fab fa-skype"></span></a></li>
								<li><a href="#"><span class="fab fa-linkedin-in"></span></a></li>
							</ul>

						</div>
					</div>

					<!--Footer Column-->
					<div class="footer-column col-lg-4 col-md-6 col-sm-12">
						<div class="footer-widget last-widget">

							<!-- Newsletter Widget -->
							<div class="newsletter-widget">
								{% comment %} <h4>Подпи<span class="theme_color">саться</span></h4> {% endcomment %}
								<div class="newsletter-form">
									<form method="post" action=".">
										<div class="form-group">
											<input type="email" name="email" value="" placeholder="Ваш email" required="">
										</div>
										<div class="form-group">
											<button type="submit" class="theme-btn btn-style-two"><span class="txt">ПОДПИСАТЬСЯ</span></button>
										</div>
									</form>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>

		</div>

		<!--Footer Bottom-->
        <div class="footer-bottom">
        	<div class="auto-container">
				<div class="copyright"><a href="templateshub.net">Templateshub</a></div>
            </div>
        </div>

	</footer>